{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block title %}
    <title>Page Accueil</title>
    {% endblock %}
</head>

<body>
    <nav>
        <h1 id="login-title">LITReview</h1>
    </nav>
    <div>
        <div class="subscribe">
            <h2>Inscrivez-vous maintenant</h2>
            <button><a href="signup">S'inscrire</a></button>
        </div>

        <div class="signin">
            <h2>Connectez-vous</h2>
            <p>{{ message }}</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" > Se connecter</button>
            </form>
        </div>
    </div>

</body>
</html>
