{% extends 'base.html' %}

{% block title %}
    <title> Modifier une critique</title>
{% endblock %}

{% block content %}
    {% if review_form %}
        <h2>Modifier votre critique</h2>
        {% if ticket_form.errors or ticket_form.errors %}
            {{ ticket_form.errors }}
            {{ review_form.errors }}
        {% endif %}
        <div class="frame">
            <p>Livre / Article</p>
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="title">
                <label>Titre</label>
                {{ ticket_form.title}}
            </div>
            <div class="description">
               <label>Description</label>
                {{ ticket_form.description }}
            </div>
            <div class="image">
                 <label>Image</label>

                 {% if image %}
                    <img class="image-update" src="{{ image }}">
                 {% endif %}

                {{ ticket_form.image }}
            </div>


                 <hr>
                 <p>Critique</p>
                 <div class="title">
                     <label>Titre :</label>
                     <p class="update">{{review_form.headline}}</p>
                 </div>
                 <div class="rates">
                     <label id="title-rates">Note :</label>
                     <p class="update">{{ review_form.rating }}</p>
                 </div>
                 <div class="description">
                   <label>Description :</label>
                   <p class="update">{{ review_form.body }}</p>
                 </div>
         {% else %}
             <h2>Modifier votre ticket</h2>
        {% if ticket_form.errors or ticket_form.errors %}
            {{ ticket_form.errors }}
            {{ review_form.errors }}
        {% endif %}
            <p>Livre / Article</p>
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="title">
                <label>Titre</label>
                {{ ticket_form.title}}
            </div>
            <div class="description">
               <label>Description</label>
                {{ ticket_form.description }}
            </div>
            <div class="image">
                 <label>Image</label>

                 {% if image %}
                    <img class="image-update" src="{{ image }}">
                 {% endif %}
                {{ ticket_form.image }}

         {% endif %}
             <div class="button-create">
                 <button type="submit" >Envoyer</button>
             </div>
        </form>
        </div>

{% endblock %}


