{% extends 'base.html' %}

{% block title %}
    <title> Inscription</title>
{% endblock %}

{% block content %}
    <h2>Inscription</h2>

    <form id="signup" method="post">
        {% csrf_token %}
        <div id="username">
             <input type="text" name="username" placeholder="Nom d'utilisateur">
        </div>
       <div class="password">
           <input type="password" name="password1" placeholder="Mot de passe">
       </div>
        <div class="password">
            <input type="password" name="password2" placeholder="Confirmer mot de passe">
        </div>
        <div class="button">
            <button><a href="{% url 'login' %}">Retourner</a> </button>
            <button type="submit" > S'inscrire</button>
        </div>

        {% if form.errors %}
        <small> {{ error }} </small>
        {% endif %}
    </form>
{% endblock %}