{% extends 'base.html' %}

{% block title %}
    <title> Créer un ticket</title>
{% endblock %}

{% block content %}
    <h2>Créer un ticket</h2>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="title">
            <label>Titre</label>
            {{ ticket_form.title}}
        </div>
        <div class="description">
           <label>Description</label>
            {{ ticket_form.description }}
        </div>
        <div class="image">
             <label>Image</label>
             {{ ticket_form.image }}
        </div>
        <div class="button-create">
        <button type="submit" >Envoyer</button>
        </div>
    </form>


{% endblock %}

