{% extends 'base.html' %}

{% block title %}
    <title> Supprimer</title>
{% endblock %}

{% block content %}

    <form method="post" enctype="multipart/form-data" action="{% url 'ticket-delete' ticket.pk %}">
        {% csrf_token %}
        {% if request.user.username == ticket.user.username %}
            <p class="delete">Etes-vous sûr de vouloir supprimer "{{ ticket.title }}"</p>
        {% elif request.user.username == review.user.username %}
            <p class="delete">Etes-vous sûr de vouloir supprimer la critique de "{{ ticket.title }}"</p>
        {% endif %}
        <button class="button-delete"><a href="{% url 'posts' %}">Non</a></button>
        <button class="button-delete" type="submit" value="Supprimer">Oui</button>

    </form>

{% endblock %}