{% extends 'base.html' %}

{% block title %}
    <title>Flux</title>
{% endblock %}
{% block content %}
<div class="flux">
    <div id="askTicket">
       <a  href="{% url 'ticket-create' %}"> Demander une critique</a>
    </div>
    <div id="createTicket">
        <a  href="{% url 'review-create' %}"> Créer une critique</a>
    </div>

        {% for ticket in tickets_and_reviews %}
            <div class="frame">
                <p> {{ ticket.user }}</p>
                <p> {{ ticket.title }}</p>
                <p> {{ ticket.description }}</p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}">
                {% endif %}

                <p> {{ ticket.time_created }}</p>
                <p> {{ ticket.rating }}</p>
                <p> {{ ticket.ticket }}</p>
                <p> {{ ticket.headline }}</p>
                <p> {{ ticket.body }}</p>
            </div>
        {% endfor%}
</div>

{% endblock %}