{% extends 'base.html' %}

{% block title %}
    <title>Abonnements</title>
{% endblock %}

{% block content %}
    <h2>Suivre d'autres utilisateurs</h2>
    <form method="POST" class="search">
        {% csrf_token %}
        <div class="search_bar">
            <input type="search" placeholder="Nom d'utilisateur" name="username" class="search">
        </div>
        <div class="following">
            <button type="submit" name="action" value="follow" >Envoyer</button>
        </div>
    </form>

<h2>Abonnements :</h2>
    {% for username in following %}

    <table>
        <tr>
            <td class="follow-name">{{ username }} </td>

            <td><form method="POST">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ username }}">
                <button type="submit" name="action" value="unfollow" class="unfollow">Désabonner</button>
            </form></td>
        </tr>
    </table>
  {% empty %}
    <p>Vous n'avez pas d'abonnement</p>
  {% endfor %}

<h2>Abonnés :</h2>
  {% for username in followers %}
        <table>
        <tr>
            <td class="followers">{{ username }} </td>
        </tr>
    </table>
  {% empty %}
    <p>Vous n'avez pas d'abonnement</p>
  {% endfor %}

{% endblock %}

