{% extends 'base.html' %}

{% block title %}
    <title>Posts</title>
{% endblock %}

{% block content %}
<div class="flux">
    {% for ticket in tickets %}
    <div class="frame">
        <p>Vous avez demandé une critique</p>

        <p> {{ ticket.title }}</p>
        <p> {{ ticket.description }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}">
        {% endif %}

         <div id="edit">
            <a  href="{% url 'ticket-edit' ticket.pk %}">Modifier</a>
        </div>
        <div id="delete">
            <a  href="{% url 'ticket-delete' ticket.pk %}">Supprimer</a>
        </div>
    </div>
    {% endfor %}




</div>

{% endblock %}