{% extends 'base.html' %}

{% block title %}
    <title> Inscription</title>
{% endblock %}

{% block content %}
    <h2>Inscription</h2>

    <form id="signup" method="post">
        {% csrf_token %}
        <input type="text" id="username" name="username">
        <input type="password" id="password1" name="password1">
        <input type="password" id="password2" name="password2">
        <button type="submit" > Retourner</button>
        <button type="submit" > S'inscrire</button>
        {% if form.errors %}
        <small> {{ error }} </small>
        {% endif %}
    </form>
{% endblock %}