@import "reset.css";


body {
    background-color : black;
    color:white;
}

label{
    margin-top: 10px;
    display:inline-block;
    width: 100%;
    text-align: left;
    margin-top 10px;
    text-align: center;
}

.blog
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom : 30px;
}

img {
    display: block;
    margin-left : 10px;
    width:40%;
}

a {
    color: white;
    text-decoration: none;
    font-size: 30 px;
}

button {
    margin-top: 30px;
    padding: 1em 2.5em;
    border-radius: 10px;
}

button a{
    color: black;
}

button:hover {
    cursor: pointer;
    background-color: dark-grey;
}

input {
    width: 80%;
    margin-top : 10px;
    margin-bottom : 20px;
    height: 40px;
    text-align: center;
}

/* Barre de navigation */
nav {
    width : 100%;
    background-color: black;
    text-align: center;
    font-size: 35px;
    margin-top : 20px;
    margin-bottom : 20px;
    padding-top : 20px;
    padding-bottom : 20px;
    border-top : 2px solid white;
    border-bottom : 2px solid white;
}

nav h1 {
    display: inline-block;
    width : 49%;
    text-align: right;
}

.nav {
    display: inline-block;
    width: 39%;
    padding-right: 10px;
    text-align: right;
}

.nav a {
    font-size: 20px;
}

/* Login */

#login-title {
    text-align: center;
}

.subscribe {
    display: inline-block;
    width: 49%;
    text-align: center;
    vertical-align: top;
    margin-top: 70px;
}

.subscribe h2 {
    font-size: 30px;
}

.subscribe button {
    margin-bottom: 1500px;
}

.signin {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.signin h2 {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom : 30px;
}

.signin button {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 50px;
}

/* Inscription */
#signup {
    text-align: center;
}

#signup input {
    display: inline flex;
    width: 60%;
}

.button {
    text-align : right;
    margin-right: 20%;
}

.helptext {
    width: 100%;
}

li {
    margin-bottom: 10px;
}


/* flux */
.flux {
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    font-size: 30px;
}

.frame{
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.flux p {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#askTicket, #createTicket{
    display: inline-block;
    width: 39%;
    margin-bottom: 40px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    margin: 30px;
    padding: 15px;
}

#edit, #delete{
    font-size : 20px;
    display: inline-block;
    width: 10%;
    margin-bottom: 40px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    margin: 30px;
    padding: 15px;
}
