{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block title %}
    <title>Accueil</title>
    {% endblock %}
</head>

<body>
    <nav>
        <h1>LITReview</h1>
        <div class="nav">
            <a href="{% url 'flux' %}"> Flux</a>
            <a href="{% url 'posts' %}"> Posts</a>
            <a href="{% url 'follow-users' %}"> Abonnements</a>
            <a href="{% url 'logout' %}"> Se déconnecter</a>
        </div>

    </nav>
    <div class="blog">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>